# Dependencies
node_modules/
package-lock.json

# Build outputs
assets/css/*.map
assets/css/theme.css
assets/css/theme.min.css
assets/js/alpine.min.js

# OS Files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
